.autocomplete-suggestions {
    border: solid 1px #E5CE8B;
    border-radius: 3px;
    font-family: Tahoma;
}
.autocomplete-suggestion {
    border: solid 1px #E5CE8B;
    text-transform: lowercase;
}

.autocomplete-suggestion b {
    font-weight: bold; color: inherit;
}