div.form {
    width: 1024px;
    margin: 100px auto;
    padding: 10px;
    text-align: left;
}

div.item {
    border: solid 1px lightgray;
    width: 100%;
    padding: 5px 0;
}

div.label {
    width: 30%;
    display: inline-block;
    font-weight: bold;
    padding: 0 10px;
    text-align: right;
}

div.edit-element {
    width: 60%;
    display: inline-block;
}