div.tag {
    border: solid 1px rgb(226, 226, 226);
    border-radius: 3px;
    font-family: Tahoma;
}

input.handler-tag {

}

span.post-tag {
    border: solid 1px rgb(229, 206, 139);
    border-radius: 5px;
}

span.post-tag span{
    padding: 2px 8px;
}

span.delete-tag {
    background-color: rgb(237, 217, 164);
    border-left: solid 1px rgb(229, 206, 139);
    border-radius: 0 4px 4px 0;

    position: relative;
    cursor: pointer;
}

span.name-tag {
    background-color: rgb(250, 243, 217);
    border-radius: 4px 0 0 4px;
    cursor: text;
}

#cross {
    background: white;
    height: 10px;
    position: absolute;
    width: 2px;

    cursor: pointer;

    left: 9px;
    top: 7px;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
#cross:after {
    background: white;
    content: "";
    height: 2px;
    position: absolute;

    cursor: pointer;

    left: -4px;

    top: 4px;
    width: 10px;
}